.u {
  &__center-text {
    text-align: center !important;
  }

  &__margin-bottom--2 {
    margin-bottom: 1.5rem !important;
  }

  &__margin-bottom--3 {
    margin-bottom: 3rem !important;
  }

  &__margin-bottom--4 {
    margin-bottom: 4rem !important;
  }

  &__margin-bottom--8 {
    margin-bottom: 8rem !important;
  }

  &__margin-top--10 {
    margin-top: 10rem !important;
  }
}
